@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=PT+Sans+Caption&family=Yanone+Kaffeesatz:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

.login-container{
    float: right;
    height: 100vh;
    width: 30%;
    background-color: #1e272e;
}

.img-container{
    background-image: url('https://images.unsplash.com/photo-1422015347944-9dd46d16bd0b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
    float: left;
    height: 100vh;
    width: 70%;
    background-size: cover;
}

form{
    margin-top: 50%;
    margin-left: 25%;
    color: white;
}

input{
    border: none;
    border-bottom: solid 2px white;
    background: transparent;
    padding-top: 25px;
    font-size: 30px;
    outline: none;
    color: white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

input:focus{
    border-bottom: solid 2px #575fcf;
}

input::placeholder{
    text-transform: capitalize;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.form-title{
    position: absolute;
    top: 21%;
    right: 9%;
    color: white;
    font-size: 50px;
    font-family: 'Cinzel', serif;
}

.btn{
    width: 120px;
    height: 45px;
    position: absolute;
    top: 49%;
    right: 11%;
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 10px;
    font-family: 'PT Sans Caption', sans-serif;
}

.create{
    position: absolute;
    bottom: 37%;
    right: 10%;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}